<div class="flex font-abc  w-[390px] pt-[32px]">
          <h1 class="text-[16px] mx-10">Resultados de búsqueda</h1>
          <span>HAMBURGUESAS</span>
</div>

<div class="bg-white w-[330px] h-[130px] mt-[40px] mr-[27px] ml-[27px] mb-[11px] flex rounded-md drop-shadow-md font-abc ">
          <div>
                    <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px]" src="assets/imgs/Fra1.png"/>
          </div>
          
          <div class=" mt-[22px] ml-[24px]  w-[155px] h-[68px] font-abc]">
                    <div class="flex">
                              <h1 class=" font-medium tracking-tight text-[22px]">BURGER 1982 </h1>
                              <span class="text-[14px] mt-[8px] ml-[3px]">L7</span>

                    </div>
                    

                    <p class="text-[12px] leading-4 tracking-widest">Hacemos las mejores hamburguesas del mundo en tiempo récord.</p>
          </div>
          
</div>

<div class="bg-white w-[330px] h-[130px] mt-[20px] mr-[27px] ml-[27px] mb-[11px] flex rounded-md drop-shadow-md font-abc" >
          <div>
                    <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px]" src="assets/imgs/Fra2.png"/>
          </div>
          
          <div class=" mt-[36px] ml-[24px] w-[155px] h-[68px] font-abc">
                    <div class="flex">
                              <h1 class=" font-medium tracking-tight text-[22px]">KOKÍ RESTO </h1>
                              <span class="text-[14px] mt-[8px] ml-[3px]">L23</span>

                    </div>
                    

                    <p class="text-[12px] leading-4 tracking-widest">Comida rica y abundante.</p>
          </div>
          
</div>

<div class="bg-white w-[330px] h-[130px] mt-[20px] mr-[27px] ml-[27px] mb-[11px] flex rounded-md drop-shadow-md font-abc ">
          <div>
                    <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px]" src="assets/imgs/Fra3.png"/>
          </div>
          
          <div class=" mt-[36px] ml-[24px]  w-[155px] h-[68px] font-abc]">
                    <div class="flex">
                              <h1 class=" font-medium tracking-tight text-[22px]">ENTRE PANES </h1>
                              <span class="text-[14px] mt-[8px] ml-[3px]">L3</span>

                    </div>
                    

                    <p class="text-[12px] leading-4 tracking-widest">Delicioso y casero.</p>
          </div>
          
</div>

<div class="bg-white w-[330px] h-[130px] mt-[20px] mr-[27px] ml-[27px] mb-[11px] flex rounded-md drop-shadow-md font-abc ">
          <div>
                    <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px]" src="assets/imgs/Fra4.png"/>
          </div>


          <div class=" mt-[4px] ml-[24px]  w-[165px] h-[78px] font-abc]">
                    
                    <div class="">
                              <span><img class="mx-[150px]" src="assets/imgs/Fra6.png" alt=""></span>

                              <h1 class="  font-bold tracking-tight text-[14px]">HAMBURGUESA PINK </h1>

                    </div>
                    

                    <p class="text-[12px] leading-4 tracking-widest">Pan de remolacha.</p>
                    <p class="font-bold">$13000.-</p>

                    <p class="text-[12px] font-bold">ENTREGA EN 20 MINUTOS.</p>
          </div>
          
</div>

<div class="bg-white w-[330px] h-[130px] mt-[20px] mr-[27px] ml-[27px] mb-[11px] flex rounded-md drop-shadow-md font-abc ">
          <div>
                    <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px]" src="assets/imgs/Fra5.png"/>
          </div>
          
          <div class=" mt-[22px] ml-[24px]  w-[185px] h-[68px] font-abc]">
                    <div class="flex">
                              <h1 class="font-bold tracking-tight text-[14px]">FAINÁ </h1>

                    </div>
                    

                    <p class="text-[12px] leading-3 tracking-widest">Fainá, muzzarella, salsa de tomate, pimientos, aceitunas.</p>
                    <p class="font-bold">$10000.-</p>
                    <p class="text-[12px] font-bold">ENTREGA EN 20 MINUTOS.</p>
          </div>
          
</div>


