<div class="w-full h-[100vh] pt-40 ">
    <div class="flex-1 bg-transparent flex items-center justify-center w-full">

        <div
            class="py-11  bg-[#E2C30A] w-[300px] md:w-[70%] md:h-[auto] rounded-2xl shadow-2xl flex flex-col items-center justify-center gap-4 md:gap-8 md:z-10">

            {{ cart()|json }}

            <div>
                <app-msn-error [show]="showMsnError"></app-msn-error>
            </div>
            <div>

                @for (item of itemList; track $index) {
                <div>
                    <p>{{item.name}}: <span>{{item.amount}}</span></p>
                    <button (click)="addItem( item)"
                        class="mt-6 bg-[#F4DA5D] font-bold px-4 py-2 rounded-full shadow-lg shadow-bottom hover:bg-gray-200 transition-colors duration-300">
                        Agregar Item
                    </button>
                </div>
                }
                @for (item of cart(); track $index) {
                <div>
                    <p>{{item.name}}: <span>{{item.amount}}</span></p>
                    <button (click)="increaseItem($index)"
                        class="mt-6 bg-[#F4DA5D] font-bold px-4 py-2 rounded-full shadow-lg shadow-bottom hover:bg-gray-200 transition-colors duration-300">
                        increamentar Item
                    </button>
                    <button (click)="decreaseItem($index)"
                        class="mt-6 bg-[#F4DA5D] font-bold px-4 py-2 rounded-full shadow-lg shadow-bottom hover:bg-gray-200 transition-colors duration-300">
                        decrementar Item
                    </button>
                </div>
                }
            </div>
        </div>
    </div>

    <app-search-modal [showModal]="showSearchModal"></app-search-modal>

    <app-shoppping-cart [showModal]="showCart">
    </app-shoppping-cart>
</div>