/* You can add global styles to this file, and also import other style files */
/* Agrega la fuente Yanone Kaffeesatz */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --min-main-container: calc(100svh - 88px);
    --warning: #FF1D25
}


.text-yanone {
    font-family: "Yanone Kaffeesatz", sans-serif;

}

body {
    position: relative;
}

.min-h-container {
    height: var(--min-main-container);
}

@media (min-width: 768px) {

    :root {
        --min-main-container: calc(100vh - 88px);
    }
}