<app-navbar></app-navbar>
<main class="min-h-[--min-main-container] w-full relative pb-[--space-h-foote] md:pb-0">

  <router-outlet></router-outlet>
</main>
<div class="absolute top-0 right-0 w-full h-full overflow-hidden -z-40">
  <img src="assets/rayetas/rayetarojaCirculo.png" alt="" class="relative top-96 -z-40" />
  <img src="assets/rayetas/rayetaAmarillaOndas.png" alt="" class="w-full -bottom-[140px] right-0 absolute -z-40" />
  <img src="assets/rayetas/rayetaRojaOjoIzQuierdo.png" alt="" class="absolute right-[220px] bottom-[560px] -z-40">
  <img src="assets/rayetas/rayetaAmarillaOndas.png" alt="" class="absolute right-[50px] bottom-[540px] -z-40">
  <img src="assets/rayetas/rayetaAmarillaOndas.png" alt="" class="absolute right-0 top-0 -z-40">
</div>
<app-footer></app-footer>