<nav class="fixed bg-[#F8F8F8] bottom-0 w-full h-[88px] text-2xl text-[#56523D] md:hidden z-50">
  <article class="relative grid grid-cols-5 grid-rows-1 place-items-center h-full">
    <span routerLink="/"><i class="fa-solid fa-house-chimney"></i></span>
    <!-- TODO: Cambiar a modal cuando este listo -->
    <span (click)="showSearchModal.set(true)"><i class="fa-solid fa-magnifying-glass"></i></span>
    <span class="grid place-items-center mb-6 drop-shadow-lg h-[100px] w-[80px] bg-[#DBD9D9] rounded-t-full">
      <img src="assets/nowait-yellow-dark.svg" alt="" class="h-[30px] w-[40px]" />
    </span>
    <span><i class="fa-solid fa-gift"></i></span>
    <span routerLink="/auth"><i class="fa-regular fa-user"></i></span>
  </article>
</nav>