<div class="bg-white w-full max-w-[330px] h-[130px] flex rounded-lg drop-shadow-xl shadow-lg font-abc ">
    <div>
        <img class="w-[106px] h-[106px] ml-[17px] mt-[11.5px] rounded-full  object-cover" [src]="item.imageUrl" />
    </div>
    
    <div class=" mt-[22px] ml-[24px]  w-[155px] h-[68px] font-abc]">
        <div class="flex">
            <h1 class=" font-medium tracking-tight text-[22px]">{{item.name | uppercase}}</h1>
            <span class="text-[14px] mt-[8px] ml-[3px]">{{item.address}}</span>
        </div>
        <p class="text-[12px] leading-4 tracking-widest">{{item.description}}
        </p>
    </div>
    
    <div class="mt-[10px] mr-[15px]">
        @for(category of item.categories; track $index){
            @if(category == "Platos Vegetarianos"){
                <span class="text-[14px]">X</span>
            }
        }
    </div>
</div>